body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
    color: #282828;
}

/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/  

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 25px;
    background-color: #282828;
    margin: 0;
    font-size: 1.125rem;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: whitesmoke;
    padding-right: 10px;
}

.icon {
    width: 25px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 30px 25px;
}

img {
    width: 100%;
}

.caption {
    margin: 0px 25px;
}